<head>
    <meta charset="UTF-8">
    <title> Login </title>
</head>

  <body>
  <h1> Log In to Book a Round </h1>
    <div class="wrap">
		<div class="avatar">
      <img src="http://us.cdn4.123rf.com/168nwm/chudtsankov/chudtsankov1307/chudtsankov130700014/20749046-lycklig-golfbolltecknad-tecken-vinka-f%C3%B6r-h%C3%A4lsning.jpg">
		</div>
	<%= form_for(:session, url: login_path) do |f| %>
  	<%= f.email_field :email, :placeholder => "Email" %> <br />
 	<%= f.password_field :password, :placeholder => "Password" %> <br />
  	<button><%= f.submit "Log In" %></button>
  	<br />
  	<br />
	<button><%= link_to "Signup", "/" %></button>
	</div>
	<% end %>
 </body>