<button><%= link_to "Logout", "/" %></button>
<button><%= link_to "Back", "/courses" %></button>
<h4><%= @course.name %></h4>

<div class="course">
<img src="<%= @course.img %>">
<p><%= @course.address %></p>
<p><%= @course.city %></p>
<p><%= @course.phone %></p>
<p><%= @course.price %> <%= @course.classification %> </p>

<h4> Choose a Tee Time Below: </h4>
</div>


<div class="bottom">
<select onChange="window.location.href=this.value">
<% @teetimes.each do |teetime| %>
<option value="<%= teetime_path(teetime) %>"><%= teetime.time %></option>
<% end %>
</select>
</div>





