<button><%= link_to "Logout", "/" %></button>
<button><%= link_to "Edit Profile", "/users/:id/edit" %></button>
<h2><%= @course.name %></h2>
<div class="course">
<img src="<%= @course.img %>">
<p><%= @course.address %></p>
<p><%= @course.city %></p>
<p><%= @course.phone %></p>
<p><%= @course.price %></p>
<p><%= @course.classification %></p>

<% @teetimes.each do |teetime| %>
<%= teetime.time %><br />
<button><%= link_to "Book Tee Time", teetime_path(teetime) %> </button> <br />
<br />
<% end %>
</div>

